.div1.fly-birds-page_1472d0d2bd {
  align-items: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.div1.fly-birds-page_1472d0d2bd,
.div1.fly-birds-page_1472d0d2bd .div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22.5rem;
}
.div1.fly-birds-page_1472d0d2bd .div2 {
  align-items: center;
  height: 34.291667rem;
  z-index: 3;
}
.div1.fly-birds-page_1472d0d2bd .div2 .image3 {
  height: 34.291667rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_1472d0d2bd .div2 .div4 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1.5rem;
  margin-top: -29.875rem;
  min-height: 6.9375rem;
  width: 16.875rem;
  z-index: 1;
}
.div1.fly-birds-page_1472d0d2bd .div2 .div4 .div5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 4.395833rem;
  width: 13.125rem;
}
.hairlines .div1.fly-birds-page_1472d0d2bd .div2 .div4 .div5 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_1472d0d2bd .div2 .div4 .div5 .text-container-1333 {
  text-align: start;
}
.div1.fly-birds-page_1472d0d2bd
  .div2
  .div4
  .div5
  .text-container-1333
  .split_text1515 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.div1.fly-birds-page_1472d0d2bd .div2 .div4 .div6 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.8125rem;
  min-height: 1.729167rem;
  width: 17.291667rem;
}
.div1.fly-birds-page_1472d0d2bd .div2 .div4 .div6 .split_text1518 {
  color: #9b9b9b;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: start;
}
.div1.fly-birds-page_1472d0d2bd .div7 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 34.729167rem;
  justify-content: flex-start;
  margin-top: -0.1875rem;
  padding-bottom: 9.833333rem;
  width: 22.5rem;
  z-index: 2;
}
.div1.fly-birds-page_1472d0d2bd .div7 .image8 {
  height: 34.729167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -31rem;
  min-height: 21.916667rem;
  width: 18.5rem;
  z-index: 2;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.4375rem;
  width: 10.4375rem;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div10 .split_text1513 {
  color: #fff;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div11 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.208333rem;
    margin-top: 0.083333rem;
    width: 17.708333rem;
}

.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div11 .split_text1514 {
  color: #fff;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.375rem;
  width: 19rem;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div12 .split_text1510 {
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: start;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div13 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -5.604167rem;
  margin-top: 1.875rem;
  min-height: 0.583333rem;
  width: 8.5rem;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div13 .split_text1512 {
  color: #f4f6fc;
  font-size: 0.75rem;
  line-height: 1.083333rem;
  text-align: start;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div14 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 13rem;
  width: 7.458333rem;
}
.div1.fly-birds-page_1472d0d2bd .div7 .div9 .div14 .split_text1511 {
  color: #f4f6fc;
  font-size: 0.75rem;
  line-height: 1.083333rem;
  margin-top: -2.104167rem;
  text-align: start;
}
.div1.fly-birds-page_1472d0d2bd .div7 .image15 {
  height: 5.9375rem;
  margin-left: -3.479167rem;
  margin-top: -8rem;
  width: 9.604167rem;
  z-index: 1;
}
.div1.fly-birds-page_1472d0d2bd .div16 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 34.729167rem;
  justify-content: flex-start;
  margin-top: -0.208333rem;
  width: 22.5rem;
  z-index: 1;
}
.div1.fly-birds-page_1472d0d2bd .div16 .image17 {
  height: 34.729167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_1472d0d2bd .div16 .div18 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -30.583333rem;
  min-height: 7.145833rem;
  width: 18.333333rem;
  z-index: 1;
}
.div1.fly-birds-page_1472d0d2bd .div16 .div18 .div19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.479167rem;
  min-height: 1.291667rem;
  width: 10.479167rem;
}
.div1.fly-birds-page_1472d0d2bd .div16 .div18 .div19 .split_text1508 {
  color: #fff;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
}
.div1.fly-birds-page_1472d0d2bd .div16 .div18 .div20 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.520833rem;
  margin-top: 0.3125rem;
  min-height: 1.270833rem;
  width: 13.9375rem;
}
.div1.fly-birds-page_1472d0d2bd .div16 .div18 .div20 .split_text1509 {
  color: #fff;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
}
.div1.fly-birds-page_1472d0d2bd .div16 .div18 .div21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5625rem;
  min-height: 3.708333rem;
  width: 18.333333rem;
}
.div1.fly-birds-page_1472d0d2bd .div16 .div18 .div21 .split_text1507 {
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  width: 18.708333rem;
}

.div1.fly-birds-page_1472d0d2bd .div22 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -0.25rem;
  padding-bottom: 10.0625rem;
}

.div1.fly-birds-page_1472d0d2bd .div22,
.div1.fly-birds-page_1472d0d2bd .div22 .image23 {
  height: 34.708333rem;
  width: 22.5rem;
  z-index: 0;
}

.div1.fly-birds-page_1472d0d2bd .div22 .div24 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.1875rem;
  margin-top: -30.5625rem;
  min-height: 15.083333rem;
  width: 18.1875rem;
  z-index: 2;
}

.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div25 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div25 .split_text1504 {
  color: #fff;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
}
.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div26 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: -0.0625rem;
  margin-top: 0.166667rem;
  width: 14.541667rem;
}
.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div26 .split_text1505 {
  color: #fff;
  font-size: 1.333333rem;
  line-height: 1.5rem;
  text-align: center;
}
.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div27 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.6875rem;
}
.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div27 .split_text1503 {
  color: #fff;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  width: 18.916667rem;
}
.div1.fly-birds-page_1472d0d2bd .div22 .div24 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div28 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6.208333rem;
  margin-top: 5.083333rem;
  min-height: 0.645833rem;
  width: 1.229167rem;
}
.div1.fly-birds-page_1472d0d2bd .div22 .div24 .div28 .split_text1506 {
  color: #dfe6f8;
  font-size: 0.875rem;
  line-height: 1.083333rem;
  text-align: start;
}
.div1.fly-birds-page_1472d0d2bd .div22 .image29 {
  height: 7.291667rem;
  margin-left: 1.854167rem;
  margin-top: -1.875rem;
  width: 9.3125rem;
  z-index: 1;
}
.specs-con {
  background-color: #fff;
}


.xm-page-area_mobile .buy-container {
  background-color: #fafafa;
  height: auto;
  position: absolute;
  transform: translateY(-112%);
  transition: transform 0.5s ease;
  width: 100%;
  z-index: 5;
}
.xm-page-area_mobile .buy-container::-webkit-scrollbar {
  display: none;
}
.xm-page-area_mobile .buy-container .product__main {
  border-top: none !important;
}
.xm-page-area_mobile .buy-container.buy-container--hide > #root-chunk {
  display: none !important;
}
.xm-page-area_mobile .root-product__footer {
  opacity: 0;
}
.xm-page-area .buy-container {
  background-color: #fafafa;
  display: none;
  transition: height 0.5s ease;
  width: 100%;
}
.xm-page-area .buy-container::-webkit-scrollbar {
  display: none;
}
.xm-page-area .buy-container .product__main {
  border-top: none !important;
}
.hide-pc {
  display: none !important;
}
html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body {
  background-color: #f5f5f5;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: initial;
}
.xm-button {
  background-color: #ff6700;
  color: #fff;
  padding: 0.25rem;
}
.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}
.xm-update {
  position: relative;
}
.xm-update:after {
  border: 0.041667rem solid #ff0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: #0000;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 0.104167rem auto -webkit-focus-ring-color;
  outline-offset: -0.041667rem;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  height: auto;
  vertical-align: middle;
}
form {
  margin: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  outline: none;
  vertical-align: initial;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: initial;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder,
input::-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
td,
th {
  padding: 0;
}
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ol,
p,
ul {
  margin: 0;
}
menu,
ol,
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
